/*项目颜色配置*/

$blue: #3190e8;  
$bc: #e5e5e5;
$fc:#fff;
$white-color: #ffffff;
$tit-color: #333333;
$lightgray-color: #999999;
$hc-color: #666666;
$defaultbg-color: #E6E6E6;
$defaulttxt-color: #cccccc;
$sub-color: #808080;
$f5-color: #f5f5f5;
$f2-color: #f2f2f2;
$a0-color: #A0A0A0;
$dc-color: #D0CFCF;
$d9c: #d9d9d9;
$green-color: #00A653;
$sicon:#51B080;
$b3:#B3B3B3;
$f2:#F24646;
$d4:#4d4d4d;
$ff:#ff6766;
$pc:#f02b2b;
$f0: #f0f0f0;